.DS_Store
*.vcd
*.pyc
*.lst
*.hex
*.elf
*.jar
*.o
*.d
*.a
*.bin
*.WAD
*.pak
statetrace.txt
a.out
output.png
*.traceconfig

CLASSDIR
bin/
obj/
hardware/fpga/de2-115/db/
hardware/fpga/de2-115/incremental_db/
hardware/fpga/de2-115/output_files/
tests/cosimulation/random*


