.DS_Store
*.vcd
*.pyc
*.lst
*.hex
*.elf
*.jar
*.o
*.d
*.a
*.bin
*.WAD
*.pak
statetrace.txt
a.out
output.png
*.traceconfig
cmake_install.cmake
CMakeFiles/
CMakeCache.txt
run_emulator
run_verilator
run_vcs
run_fpga
obj/
bin/
generated/

CLASSDIR
hardware/fpga/de2-115/db/
hardware/fpga/de2-115/incremental_db/
hardware/fpga/de2-115/output_files/
tests/cosimulation/random*

