.DS_Store
*.traceconfig
*.vcd
*.pyc
*.lst
*.hex
*.elf
*.jar
*.o
*.d
*.a
*.bin
doom1.wad
pak0.pak
statetrace.txt
a.out
output.png
diff.png
repak

CLASSDIR
bin/
obj/
hardware/fpga/de2-115/db/
hardware/fpga/de2-115/incremental_db/
hardware/fpga/de2-115/output_files/

tools/NyuziToolchain
tools/verilator


