<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

	<extension point="org.eclipse.debug.core.launchConfigurationTypes">
	    <launchConfigurationType
	        name="Emulator"
	        delegate="emulatordebug.EmulatorLaunchConfigurationDelegate"
	        modes="run, debug"               
	        id="emulatordebug.emulatorLaunchConfigType"        
	        sourcePathComputerId="emulatordebug.sourcePathComputer"
	        sourceLocatorId="emulatordebug.sourceLookupDirector">
	    </launchConfigurationType>
	</extension>

	<extension point="org.eclipse.debug.ui.launchConfigurationTabGroups">
	    <launchConfigurationTabGroup
	        type="emulatordebug.emulatorLaunchConfigType"
	        class="emulatordebug.EmulatorLaunchConfigurationTabGroup"
	        id="emulatordebug.emulatorLaunchConfigurationTabGroup">
	    </launchConfigurationTabGroup>
	</extension>

	<extension point="org.eclipse.debug.core.sourceLocators">
		<sourceLocator
			name="Source Lookup Director"
			class="emulatordebug.EmulatorSourceLookupDirector"
			id="emulatordebug.sourceLookupDirector">
		</sourceLocator>
	</extension>

	<extension point="org.eclipse.debug.core.sourcePathComputers">
		<sourcePathComputer
			class="emulatordebug.EmulatorSourcePathComputerDelegate"
			id="emulatordebug.sourcePathComputer">
		</sourcePathComputer>
	</extension>

	<extension point="org.eclipse.debug.ui.debugModelPresentations">
		<debugModelPresentation
			class="emulatordebug.EmulatorModelPresentation"
			id="emulatordebug.EmulatorDebugModel"> <!-- matches result from EmulatorDebugElement.getModelIdentifier() -->
		</debugModelPresentation>
	</extension>

	<extension point="org.eclipse.debug.core.breakpoints">
		<breakpoint
			id="emulatordebug.lineBreakpoint"
			class="emulatordebug.EmulatorLineBreakpoint"
			markerType="emulatordebug.lineBreakpoint.marker">	<!-- Matches type from EmulatorLineBreakpoint -->
		</breakpoint>	
	</extension>

	<extension point="org.eclipse.core.resources.markers" id="emulatordebug.lineBreakpoint.marker">
		<super type="org.eclipse.debug.core.lineBreakpointMarker"/>
		<persistent value="true"/>
	</extension>

	<extension point="org.eclipse.core.runtime.adapters">
		<factory 
			class="emulatordebug.BreakpointAdapterFactory"
			adaptableType="org.eclipse.ui.texteditor.ITextEditor">
			<adapter type="org.eclipse.debug.ui.actions.IToggleBreakpointsTarget"/>
    	</factory>		
	</extension>
	
	<extension point="org.eclipse.ui.popupMenus">           
		<viewerContribution
			id="emulatordebug.rulerActions"
			targetID="#TextRulerContext">
			<action
				label="Toggle Breakpoint"
				class="org.eclipse.debug.ui.actions.RulerToggleBreakpointActionDelegate"
				menubarPath="additions"
				id="emulatordebug.toggleBreakpointAction"/>
		</viewerContribution>
	</extension>

	<extension point="org.eclipse.debug.ui.memoryRenderings">
		<renderingBindings
			defaultIds="org.eclipse.debug.ui.rendering.raw_memory,org.eclipse.debug.ui.rendering.signedint"
			primaryId="org.eclipse.debug.ui.rendering.raw_memory"
			renderingIds="org.eclipse.debug.ui.rendering.raw_memory,org.eclipse.debug.ui.rendering.ascii,org.eclipse.debug.ui.rendering.signedint,org.eclipse.debug.ui.rendering.unsignedint">
 			<enablement>
				<instanceof value="emulatordebug.TargetMemoryBlock"/>
			</enablement>
		</renderingBindings>
	</extension>
	
	<extension id="asmbuilder.Builder" name="Assembler Builder" point="org.eclipse.core.resources.builders">
		<builder>
			<run class="asmbuilder.Builder"/>
		</builder>
	</extension>
	
</plugin>
