# specify one line for vcs and one line for verdi using the format:
# vcs_path   => '<path-to-vcs-dir>',
# verdi_path => '<path-to-novas-dir>',
# See examples below:
vcs_path   => '/tools/vcs-release/vcsK-2015.09-SP2-2-mx',
verdi_path => '/tools/novas-release/debussy/novas,vK-2015.09-SP2-2_Verdi3',
